<nav class="barra-navegacion">
  <a class="barra-navegacion__marca" routerLink="/cartelera">
    <img src="/logo.svg" class="icono-logo" alt="CineSeat">
    <span class="barra-navegacion__titulo">CineSeat</span>
  </a>

  <div class="barra-navegacion__tabs">
    <a
      routerLink="/cartelera"
      class="tab-nav"
      [class.tab-nav--activo]="activo === 'cartelera'"
    >Cartelera</a>
    <a
      routerLink="/peliculas"
      class="tab-nav"
      [class.tab-nav--activo]="activo === 'peliculas'"
    >Películas</a>
    <a
      routerLink="/dashboard"
      class="tab-nav"
      [class.tab-nav--activo]="activo === 'dashboard'"
    >Dashboard</a>
  </div>

  <div class="barra-navegacion__usuario">
    <span class="usuario-email">usuario&#64;cineseat.com</span>
    <button class="btn-cerrar-sesion" (click)="cerrarSesion()" title="Cerrar sesión">
      <i class="fa-solid fa-right-from-bracket icono-lg"></i>
    </button>
  </div>
</nav>
